.filter-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  background-color: white; 
  padding: 10px; 
  border-bottom: 1px solid black; 
}


.filter-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 20px; 
  min-width: 25%; 
  min-height: 28%;
}

.button-text {
  margin-left: 0.5em; 
}
.hero-headline h1 {
  margin-bottom: 1.5rem;}

.filter-button:hover {
  background-color: #0A1D56; 
  color: white; 
}

.filter-button.active {
  background-color: #0A1D56; 
  color: #fff; 
}
