body {
    margin: 0;
}
.modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto; /* Let the height adjust based on content */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal is above other content */
}

.modal-content {
    background-color: white;
    
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1100; /* Ensure the modal content is above the overlay */
    width: 50%;
    height: auto; /* Let the height adjust based on content */
    max-height: 80%; /* Maximum height */
    display: flex;
    flex-direction: column; /* Align form elements vertically */
    align-items: center; /* Center form horizontally */
    position: relative;

}
.modal-content form {
    width: 80%; /* Ensure the form takes up the full width of the modal */
    margin-top: 20px;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #000;
    z-index: 1200; /* Ensure the close button is above other content */
}
